#episodeCards {
    display: block;

    header {
        display: flex;

        select {
            border: none;
            background-color: transparent;
            height: 20px;
            margin: auto 20px;
        }
    }

    .seasons {
        display: flex;
        flex-wrap: wrap;
    }

    article {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        width: 29%;
        height: 230px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #e6e6e6;
        box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        position: relative;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    div {
        display: inline-block;
        margin: auto;
        padding: 10px 5px;
        vertical-align: middle;
    }

    .episodeTitle {
        width: 60%;
        font-size: 20px;
        color: $title-color;
    }

    .info {
        display: table;
        position: absolute;
        bottom: 0;
        margin-bottom: 6px;
    }
}

@media only screen and (min-width: 970px) and (max-width: 1144px) {
    #episodeCards {
        .card {
            width: 44%;
            height: 300px;
        }
    }
    
}

@media only screen and (max-width: 969px) {
    #episodeCards {
        .card {
            width: 100%;
        }
    }
    
}

@media only screen and (max-width: 425px) {
    #episodeCards {
        .card {
            height: 280px;
        }
    }
    
}