// color variable
$white: #ffffff;
$black: #000000;
$grey: #333333;
$lightGrey: #666666;
$themeBlue: #27465E;

// text color
$title-color: $black;
$info-color: $lightGrey;
$description-color: $grey;

// layout
$button-border: $themeBlue;